[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pillow = "*"
gspread = "*"
oauth2client = "*"
matplotlib = "*"
py-cord = "*"
python-dotenv = "*"
pymongo = {extras = ["srv"], version = "*"}

[dev-packages]

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
